@import '../../breakpoints.scss';

.rocketInfo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  max-height: 70%;
  height: 100%;
  width: 80%;
  position: absolute;
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: $bp-large) {
    top: 36%;
  }

  &__innerFlex {
    margin: 5rem;
    max-width: 42%;

    @media only screen and (max-width: $bp-large) {
      max-width: 46%;
    }

    @media only screen and (max-width: $bp-medium) {
      max-width: 55%;
    }

    @media only screen and (max-width: $bp-small) {
      max-width: 70%;
    }

    @media only screen and (max-width: $bp-smallest) {
      max-width: 90%;
    }
  }
}

.specs {
  border-radius: 10px;
  background-color: rgb(29, 29, 29);
  padding: 1rem;
  width: 60%;

  @media only screen and (max-width: $bp-largest) {
    width: 100%;
  }
}

.navigation {
  justify-self: flex-end;
  align-self: center;
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    font-size: 5rem;
    cursor: pointer;
    margin: 0 1rem 0 1rem;
    z-index: 1;
  }

  &__ball {
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background-color: rgb(107, 107, 107);
    margin: 0.4rem;
    transition: all 0.5s;

    &_active {
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      background-color: rgb(235, 235, 235);
      margin: 0.4rem;
      transition: all 0.5s;
    }
  }
}

.imageGallery {
  height: 40rem;
  width: auto;

  @media only screen and (max-width: $bp-largest) {
    height: 30rem;
  }
}

.imgButton {
  font-size: 5rem;
  color: white;
}
